*
{
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
body
{
    background: linear-gradient(to right, rgb(255, 255, 255),rgba(255, 255, 255, 0.801));

    /* background: linear-gradient(to right, rgb(66, 228, 185), rgba(220, 68, 195, 0.801)) */
}

#container
{
    width: 500px;
    margin: 0 auto;
}

.green
{
    background-color: rgb(52, 116, 52);
    animation: coolgreen 800ms ease;
    color: whitesmoke;
}

@keyframes coolgreen
{
    0%{
        background-color: #fff;
        transform: rotateY(-180deg);
    }

    10%
    {
        background-color: rgb(117, 169, 117);
        -webkit-box-shadow: 1px 7px 44px 0px rgb(105, 195, 125);
        -moz-box-shadow: 1px 7px 44px 0px rgb(105, 195, 125);
        box-shadow: 1px 7px 44px 0px rgb(105, 195, 125);
        color:rgb(254, 180, 180);
    }

    40%
    {
        color: rgb(191, 253, 182);
    }

    50%
    {
        background-color: rgb(117, 169, 117);
        -webkit-box-shadow: 1px 7px 44px 0px rgba(59, 169, 83, 1);
        -moz-box-shadow: 1px 7px 44px 0px rgba(59, 169, 83, 1);
        box-shadow: 1px 7px 44px 0px rgba(59, 169, 83, 1);
        color:rgb(184, 184, 251);
    }

    100%
    {
        background-color: rgb(65, 143, 65);
        transform: rotateY(0deg);
        color: white;
    }
}

@keyframes coolyellow
{
    0%{
        background-color: #fff;
        transform: rotateY(-180deg);
    }

    10%
    {
        background-color: rgb(211, 211, 35);
        -webkit-box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
        -moz-box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
        box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
    }

    50%
    {
        background-color: rgb(211, 211, 35);
        -webkit-box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
        -moz-box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
        box-shadow: 1px 7px 44px 0px rgb(237, 237, 33);
    }

    100%
    {
        background-color: rgb(171, 171, 23);
        transform: rotateY(0deg);
        color: white;
    }
}

.gray
{
    background-color: gray;
    animation: coolgray 800ms ease;
    position: relative;
}

@keyframes coolgray 
{
    0%
    {
        top: -400px;
    }

    10%
    {
        -webkit-box-shadow: -1px -36px 24px -10px red;
        -moz-box-shadow: -1px -36px 24px -10px red;
        box-shadow: -1px -36px 24px -10px red;
    }

    50%
    {
        -webkit-box-shadow: -1px -36px 24px -10px orange;
        -moz-box-shadow: -1px -36px 24px -10px orange;
        box-shadow: -1px -36px 24px -10px orange;
    }

    80%
    {
        -webkit-box-shadow: -1px -36px 24px -10px yellow;
        -moz-box-shadow: -1px -36px 24px -10px yellow;
        box-shadow: -1px -36px 24px -10px yellow;
    }

    100%
    {
        top: 0;
    }
    
}

.coolWin
{
    box-shadow: 1px 2px 25px 14px rgb(52, 116, 52);
    background-color: rgb(52, 116, 52);
    animation: 1s coolWinStyle ease;
}

@keyframes coolWinStyle 
{
    0%
    {
        box-shadow: 1px 2px 25px 4px rgb(255, 255, 255);
        background-color: rgb(255, 255, 255);
    }   

    50%
    {
        box-shadow: 1px 2px 25px 8px rgb(183, 255, 169);
        background-color:rgb(183, 255, 169);
    }

    100%
    {
        box-shadow: 1px 2px 25px 14px rgb(52, 116, 52);
        background-color: rgb(52, 116, 52);
    }

}

.yellow
{
    background-color: rgb(171, 171, 23);
    animation: coolyellow 800ms ease;
}

#containerHeader
{
    color: black;
    width: 500px;
    height: 53px;
    margin: 0 auto 0 auto;
    padding-top: 10px;
    font-size: 32px;
    font-weight: 700;
    border-bottom: 1px solid black;
}
#leftHeader
{
    float: left;
}
#rightHeader
{
    float: right;
}
#rightHeader div
{
    float: left;
    margin-right: 10px;
}

#centerHeader
{
    float: left;
    margin-left: 75px;
}
#centerHeader i,p
{
    float: left;
}

#containerSection
{
    width: 500px;
    font-size: 30px;
    font-weight: 600;
    margin: 50px auto;
    color: #e7e6e6;
}
#outputs
{
    width: 365px;
    margin: 0 auto;
}
input[type='text']
{
    letter-spacing: 55px;
    width: 390px;
    border: none;
    background-color: rgb(131, 131, 131);
    height: 60px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    padding: 0 0 0 25px; 
    display: none;
     
}
.block
{
    float: left;
    text-align: center;
    border: none;
    font-size: 35px;
    width: 58px;
    margin: 2px;
    padding: 15px 5px;
}
.empty
{
    border: 2px rgb(195, 195, 195) solid;
    width: 55px;
    height: 40px;
    color: rgb(43, 42, 42);
}


#typing
{
    width: 410px;
    background-color: red;
    margin: 0 auto 20px auto;
}

#containerFooter
{
    width: 500px;
    margin: 0 auto;
    height: 300px;
    text-align: center;
    font-weight: 700;
}

.row1
{
    width: 450px;
    margin: 0 auto;
}

.row2
{
    width: 500px;
    margin: 0 auto;
}

.key
{
    width: 44px;
    margin: 3px;
    float: left;
    height: 42px;
    background-color: rgb(214, 215, 215);
    border-radius: 10px;
    padding-top: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease;
}

.key:hover
{
    transform: scale(0.8);
    box-shadow: 0px 0px 20px 1px gold;
}

.keysSpecial
{
    width: 69px;
    margin: 3px;
    float: left;
    height: 42px;
    background-color: rgb(193, 194, 194);
    border-radius: 10px;
    padding-top: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease;
}

.keysSpecial:hover
{
    transform: scale(0.8);
}

.keysSpecialv2
{
    width: 31px;
    margin: 3px;
    float: left;
    height: 42px;
    background-color: rgb(193, 194, 194);
    border-radius: 10px;
    padding-top: 18px;
    font-size: 20px;
    cursor: pointer;
    transition: 300ms ease;
}

.keysSpecialv2:hover
{
    transform: scale(0.8);
}


nav
{
    width: 200px;
    margin: 0 auto;
}

a
{
    color: black;
    text-align: none;
}

#settingsNav
{
    width: 400px;
    margin: 0 auto;
    display: none;
}

#setting
{
    width: 320px;
    height: 250px;
    padding: 40px;
    position: fixed;
    top: 130px;
    background-color: rgb(218, 218, 218);
    z-index: 1;
    font-weight: 200;
    border-radius: 10px;
}

.settingLeft
{
    float: left;
    margin-top: 20px;
}

.settingRight
{
    float: right;
}

#setting div
{
    margin-bottom: 10px;
}

#setting div:nth-child(3)
{
    text-align: center;
}

#setting button
{
    padding: 10px;
    height: 40px;
    border: none;
    border-radius: 12px;
    background-color: rgb(78, 170, 78); 
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
}

main
{
    transition: 800ms ease;
}

#settings
{
    transition: 800ms ease;
}

#settings:hover
{
    cursor: pointer;
    transform: rotateZ(190deg) scale(1.3);
}

.switchbackground
{
    width: 70px;
    background-color: rgb(183, 183, 183);
    border-radius: 25px;
    color: #fff;
    padding: 2px 0 1px 4px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

#switch
{
    padding: 15px 5px;
    margin: 10px 0 0 0;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(242, 238, 238);
    position: relative;
}

#switch2
{
    padding: 15px 5px;
    margin: 10px 0 0 0;
    width: 20px;
    border-radius: 100%;
    background-color: rgb(242, 238, 238);
    position: relative;
}

.switchMove
{
    left: 36px;
    animation: switch 400ms cubic-bezier(0.9, 0.06, 0.39, 0.97);
}

.switchMoveReverse
{
    left: 0;
    animation: switchReverse 400ms cubic-bezier(0.9, 0.06, 0.39, 0.97);
}

@keyframes switch
{
    0%
    {
        left: 0px;
    }

    100%
    {
        left: 36px;
    }
}

@keyframes switchReverse
{
    0%
    {
        left: 36px;
    }
    
    100%
    {
        left: 0px;   
    }
}